@import "../css/basic.scss";

center-text {
  flex-grow: 1;
  flex-shrink: 1;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  .inner {
    flex-grow: 0;
    flex-shrink: 0;

    font-weight: $fontNorm;
    color: $color-white;
    font-size: $font20;
    font-family: $fontArial;
  }

  &.ct-light {
    background-color: $color-gray-light;
    .inner {
      background-color: $color-gray;
      color: $color-gray-dark;
    }
 }

  &.ct-medium {
    background-color: $color-gray;
    .inner {
      background-color: $color-gray-dark;
      color: $color-black;
    }
  }

  &.ct-dark {
    background-color: $color-gray-dark;
    .inner {
      background-color: $color-charcoal;
      color: $color-white;
    }
  }
}
