select-options {
  display: inline-block;

  .inner {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
  }

  &.so-small .inner { font-size: 10px; padding: 2px; }
  &.so-medium .inner { font-size: 14px; padding: 4px; }
  &.so-large .inner { font-size: 18px; padding: 6px; }
}